.form-create {
  display: flex;
  align-items: flex-start;
  min-height: 600px;
  width: 100%;
  margin-top: 12px;

  &__left-col {
    position: relative;
  }

  &__right-col {
    flex: 1;
    max-width: 717px;
    margin-left: 32px;
  }
}
