.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  &__form {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 200px;

    & h1 {
      font-size: 20px;
      text-align: center;
      font-weight: 400;
    }

    & h3 {
      margin-bottom: 10px;
      color: dimgrey;
      font-size: 18px;
      font-weight: 400;
    }

    & input {
      height: 30px;
      border: 1px solid rgba(0.5, 0.5, 0.5, 0.3);
      border-radius: 5px;
    }
  }
}
