.header {
  display: flex;
  align-items: center;
  padding: 12px 15%;
  height: 40px;
  background-color: #1f1f1f;
  color: #fff;

  &__title {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    text-decoration: none;
    margin-right: 30px;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}
