:root {
  --color-white: #fff;
  --color-black: #000;

  --color-e0: #e0e0e0;
  --color-1f: #1f1f1f;
  --color-2c: #2c2c2c;
  --color-2c-transparent: rgba(44, 44, 44, 0.2);

  --color-red: #c41e1e;
  --color-green: #0b750f;

  --color-orange: #f60;
  --color-orange-transparent: rgba(255, 102, 0, 0.5);
  --color-orange-outline: rgba(255, 102, 0, 0.1);
}
