:root {
  --color-white: #fff;

  --color-e0: #e0e0e0;
  --color-1f: #6c6c6c;
  --color-2c: #2c2c2c;
  --color-2c-transparent: rgba(100, 100, 100, 0.1);

  --color-red: #c41e1e;
  --color-green: #0b750f;

  --color-orange: #f60;
  --color-orange-transparent: rgba(255, 102, 0, 0.5);
  --color-orange-outline: rgba(255, 102, 0, 0.1);
}
