@import "colors.css";

:root {
  --body-bg: var(--color-white);
  --main-text: var(--color-1f);
  --block-bg: var(--color-white);
  --block-text: var(--color-1f);
  --inactive: var(--color-2c);
  --error: var(--color-red);
  --shadow: var(--color-2c-transparent);
  --outline: var(--color-2c-transparent);
  --main: var(--color-orange);

  /* Header */
  --header-bg: var(--color-1f);
  --header-text: var(--color-white);

  /* Spinner */
  --spinner-primary: var(--color-1f);
  --spinner-secondary: var(--color-e0);

  /* Button default */
  --button-default-bg: var(--main);
  --button-default-text: var(--color-white);
  --button-default-disabled-bg: var(--color-orange-transparent);
  --button-default-disabled-text: var(--inactive);

  /* Button primary */
  --button-primary-bg: transparent;
  --button-primary-text: var(--color-white);
  --button-primary-border: var(--outline);
  --button-primary-disabled-bg: var(--color-orange-transparent);
  --button-primary-disabled-text: var(--inactive);
  --button-primary-active-border: transparent;
  --button-primary-active-bg: var(--color-orange-outline);
  --button-primary-active-text: var(--color-orange-outline);

  /* Button secondary */
  --button-secondary-bg: transparent;
  --button-secondary-text: var(--color-white);
  --button-secondary-border: var(--outline);
  --button-secondary-disabled-bg: var(--color-orange-transparent);
  --button-secondary-disabled-text: var(--inactive);
  --button-secondary-active-border: transparent;
  --button-secondary-active-bg: var(--color-orange-outline);
  --button-secondary-active-text: var(--color-orange-outline);

  /* Button link */
  --button-link-text: var(--main-text);
  --button-link-disabled-text: var(--inactive);
  --button-link-active-text: var(--main);

  /* Input */
  --input-border: var(--outline);
  --input-focus: var(--color-orange-transparent);

  /* Toggle button */
  --toggle-active: var(--color-green);
}
